* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Header */
body {
  color:#000000;
  background: #171515;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

header {
	color: #FFFFFF;
}

header h1 {
	font-size: 70px;
}

header h5 {
	font-size: 20px;
}

header h6 {
	font-size: 13px;
	font-style: italic;
}

/* Navigator (Header) */
#main-nav {
	height: 60px;
	margin-top: 5px;
}

#main-nav ul {
	list-style-type: none;
	font-size: 18px;
	background-color: #171515;
	overflow: hidden;
}

#main-nav li {
	float: left;
}

#main-nav li a {
	color: #FFFFFF;
	display: block;
	padding: 20px 20px 13.4px;
	text-align: center;
	text-decoration: none;
}

#main-nav li a:hover {
	background-color: #FFFFFF;
	color: #171515;
}

/* Footer */
footer {
	font-size: 13px;
	background-color: #171515;
	color: #FFFFFF;
}

#footer {
	text-align: right;
  padding: 25px 10px 50px;
}

/* Full-Width Styles */
.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 25px 10px 150px;
  margin: 0 auto;
}

#header_wrap .inner {
  padding: 1px 10px 0px 10px;
}

#main_content_wrap {
  background: #f2f2f2;
  border-bottom: 1px solid #111;
}

#main_content {
	/* padding-top: 10px; */
}

#footer_wrap {
  background: #171515;
}

/* Repositories */
.rep {
	padding: 15px;
	margin-bottom: 25px;
	border: 1px solid #ddd;
	border-radius: 10px;
	border-width: 1px;
}

.rep_nome {
	font-weight: bold;
}

.rep_autores {
	font-style: italic;
}

.rep_fatec {

}

.rep_git {
	font-family: courier;
	font-size: 13px;
}

.rep_link {

}

/* Submit */

.form-group {
	max-width: 500px;
	padding: 20px;
	margin-bottom: 25px;
	border: 1px solid #ddd;
	border-radius: 10px;
	border-width: 1px;
}

.subform-title {
	font-size: 20px;
	font-weight: bold;
}


/* Extra */

hr {
  background: #ddd;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 0 0 1.4em;
  border: none;
}

/*---------- Responsive Design ----------*/

/* Desktop */
@media (min-width: 997px) {

}

/* Tablet */
@media (min-width: 768px) and (max-width: 996px) {

}

/* Mobile */
@media (max-width: 767px) {
  #fatechub-t-logo {

	}
}
